.div_tong {
    background-color: #FFFFFF;
    width: 1200px !important;
    border-radius: 0% solid !important;
    border: 1px solid #333;
    margin: 0 auto;
    height: 5644px;

}

.header {
    background-color: #FFFFFF;
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;




}

#Agents {
    position: relative;
    width: 59px;
    height: 30px;
    top: 35px;
    left: 438px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #636769;



}

#Homebuyers {
    position: relative;
    width: 104px;
    height: 30px;
    top: 35px;
    left: 316px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #636769;

}

#Resources {
    position: relative;
    width: 85px;
    height: 30px;
    top: 35px;
    left: 187px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #636769;

}

#LogIn {
    position: relative;
    width: 50px;
    height: 30px;
    top: 35px;
    left: 80px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #636769;

}

#SignUp {
    position: relative;
    width: 158px;
    height: 54px;
    top: 35px;
    left: -40px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #6157AB;
    border-radius: 5px;

}

.Navigation {
    background-color: #FFFFFF;
    width: 1200px;
    height: 2143px;
    display: flexbox;
}

.Providing {
    position: relative;
    font-family: Roboto;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 1px;
    text-align: left;
    width: 616px;
    height: 212px;
    top: 96px;
    left: 60px;
    gap: 0px;
    opacity: 0px;
    color: #363B3D;

}

.title {
    position: relative;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.05000000074505806px;
    text-align: left;
    width: 599px;
    height: 68px;
    top: 120px;
    left: 60px;
    gap: 0px;
    opacity: 0px;
    color: #636769;

}

#btnSignUpNow {

    position: absolute;
    width: 158px;
    height: 54px;
    top: 522px;
    left: 200px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #6157AB;
    border-radius: 5px;
}

#LearnMore {
    position: relative;
    width: 93px;
    height: 30px;
    top: 160px;
    left: 266px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #6157AB;

}

#hr_1 {
    position: relative;
    width: 93px;
    height: 1px;
    top: 160.5px;
    right: 290.5px;
    gap: 0px;
    opacity: 0px;
    background-color: #6157AB;

}

#Picture_1 {
    position: relative;
    width: 648px;
    height: 743px;
    top: -210px;
    left: 626px;
    gap: 0px;
    opacity: 0px;

}

#FEATURED {
    position: relative;
    width: 89px;
    height: 17px;
    top: -400px;
    right: 570px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 2px;
    text-align: left;
    color: #96979A;

}

.picture {
    margin: 0 auto;
    position: relative;
    top: -330px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 70px;

}

#img_1 {
    width: 128px;
    height: 18px;
    top: 797px;
    left: 60px;
    gap: 0px;
    opacity: 0px;


}

#img_2 {
    width: 107px;
    height: 107px;
    top: 753px;
    left: 188px;
    gap: 0px;
    opacity: 0px;

}

#img_3 {
    width: 114px;
    height: 114px;
    top: 749px;
    left: 295px;
    gap: 0px;
    opacity: 0px;

}

#img_4 {
    width: 116px;
    height: 116px;
    top: 748px;
    left: 409px;
    gap: 0px;
    opacity: 0px;

}

#img_5 {
    width: 115px;
    height: 115px;
    top: 749px;
    left: 525px;
    gap: 0px;
    opacity: 0px;

}

.container_tong {
    width: 1080;
    height: 3988px;
    background-color: #f5f4f2;
    position: relative;
    top: -1200px;
}

.Who {
    position: relative;
    width: 424px;
    height: 65px;
    top: 100px;
    left: 388px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 52px;
    font-weight: 400;
    line-height: 64.8px;
    letter-spacing: 0.675000011920929px;
    text-align: center;

}

#O_1 {
    width: 214px;
    height: 60px;
    top: 1093px;
    left: 105px;
    gap: 0px;
    border-radius: 6.8px;
    border: 1px solid #6157AB;
    opacity: 0px;
    background-color: #ECEAF8;
    color: #6157AB;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2.319999933242798px;
    text-align: center;
    padding: 15px 25px;
}

#O_2 {
    width: 124px;
    height: 60px;
    top: 1093px;
    left: 345px;
    gap: 0px;
    border-radius: 6.8px;
    border: 1px solid #AAB8BF;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2.319999933242798px;
    text-align: center;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 15px 25px;
}

#O_3 {
    width: 213px;
    height: 60px;
    top: 1093px;
    left: 494px;
    gap: 0px;
    border-radius: 6.8px;
    border: 1px solid #AAB8BF;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2.319999933242798px;
    text-align: center;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 15px 25px;
}

#O_4 {
    width: 132px;
    height: 60px;
    top: 1093px;
    left: 733px;
    gap: 0px;
    border-radius: 6.8px;
    border: 1px solid #AAB8BF;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2.319999933242798px;
    text-align: center;
    padding: 15px 25px;
    box-sizing: border-box;
    background: #FFFFFF;
}

#O_5 {
    width: 204px;
    height: 60px;
    top: 1093px;
    left: 891px;
    gap: 0px;
    border-radius: 6.8px;
    border: 1px solid #AAB8BF;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2.319999933242798px;
    text-align: center;
    padding: 15px 25px;
    background: #FFFFFF;
    box-sizing: border-box;
}

#O_1,
#O_2,
#O_3,
#O_4,
#O_5 {
    display: inline-block;
    margin-right: 26px;
}

.tuy_chon {
    justify-content: center;
    top: 214px;
    position: absolute;
    margin-left: 100px;
}

.container {
    position: absolute;
    width: 1080px;
    height: 914px;
    top: 299px;
    left: 5%;
    margin-top: 20px;
    opacity: 0px;
    background-color: #FFFFFF;
}

#Anh_2 {
    width: 466px;
    height: 494px;
    top: 1283px;
    left: 134px;
    gap: 0px;
    border-radius: 0px 70px 70px 70px;
    opacity: 0px;
    padding: 75px 540px 345px 74px;
}

#ngang_1 {
    width: 381px;
    height: 1px;
    background-color: #C9D3D9;
    position: absolute;
    top: 74px;
    right: 74px;
}

#Buyer {
    position: absolute;
    width: 169px;
    height: 24px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2.319999933242798px;
    text-align: right;
    top: 107px;
    right: 290px;
    color: #574D9C;

}

.banner {
    position: absolute;
    width: 367px;
    height: 104px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    right: 88px;
    top: 229px;

}

.title_1 {
    position: absolute;
    width: 381px;
    height: 120px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    top: 365px;
    align-self: right;
    right: 75px;

}

.Get {
    position: absolute;
    width: 223px;
    height: 54px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: left;
    background-color: #6157AB;
    box-sizing: border-box;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 12px 24px 12px 24px;
    top: 527px;
    right: 236px;
}

#ngang_2 {
    position: absolute;
    width: 932px;
    height: 1px;
    gap: 0px;
    opacity: 0px;
    background-color: #C9D3D9;
    top: 654px;
    right: 74px;
}

.foot_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 303px;
    margin-top: -150px;

}

.area_1 {
    width: 70px;
    height: 70px;
    top: 1928px;
    left: 211px;
    gap: 0px;
    opacity: 0px;
    background-color: #574D9C;

}

.area_2 {
    width: 70px;
    height: 70px;
    top: 1928px;
    left: 565px;
    gap: 0px;
    opacity: 0px;
    background-color: #574D9C;

}

.area_3 {
    width: 70px;
    height: 70px;
    top: 1928px;
    left: 919px;
    gap: 0px;
    opacity: 0px;
    background-color: #574D9C;
}

.img_a {
    width: 20px;
    height: 34px;
    top: 1946px;
    left: 236px;
    padding: 18px 25px 18px 25px;
    gap: 0px;
    opacity: 0px;

}

.img_b {
    width: 32px;
    height: 36px;
    top: 1945px;
    left: 584px;
    gap: 0px;
    opacity: 0px;
    padding: 17px 19px 17px 19px;
}

.img_c {
    width: 36px;
    height: 42px;
    top: 1942px;
    left: 936px;
    gap: 0px;
    opacity: 0px;
    padding: 14px 17px 14px 17px;

}

.chu {
    display: flex;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 2px;
    color: #6157AB;
    width: 209px;
    height: 19px;
    display: inline-block;
    transform: translateX(-25%);
    margin-top: 22px;

}

#chu_2 {
    display: inline-block;
    vertical-align: top;
}

.pp {
    position: flex;
    width: 1080px;
    height: 1014px;
    top: 2122px;
    left: 60px;
    gap: 0px;
    opacity: 0px;
    background-color: #E3E6F9;
    margin-top: 124px;
}

.banner_1 {
    position: flex;
    width: 560px;
    height: 65px;
    font-family: Roboto;
    font-size: 51px;
    font-weight: 400;
    line-height: 64.8px;
    letter-spacing: 0.675000011920929px;
    text-align: center;
    color: #323A5B;
    justify-self: center;

    padding: 72px 261px 67px 261px;

}

.tt_1 {
    position: flex;
    width: 440px;
    height: 168px;
    top: 2331px;
    left: 123px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.004999999888241291px;
    color: #1E2224;
    margin: 209px 581px 637px 63px;
    box-sizing: border-box;
}

.tt_1 p {
    margin: 0;
    position: relative;
    left: 63px;
    top: -15px;


}

#ADD {
    width: 72px;
    height: 72px;
    gap: 0px;
    border-radius: 100px;
    opacity: 0px;
    position: relative;
    top: 11px;
    left: -413px;
}

.Gon {
    position: relative;
    width: 129px;
    height: 17px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 2px;
    text-align: left;
    color: #636769;
    left: 259px;
    top: -60px;
}

.exp {
    position: relative;
    width: 96px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #636769;
    left: 259px;
    top: -60px;
}

.ngang_3 {
    position: relative;
    width: 439px;
    height: 1px;
    gap: 0px;
    opacity: 0px;
    background-color: #C9C9C9;
    margin-left: 61px;
    margin-top: 9px;
}

#Anh_ban {
    position: absolute;
    width: 479px;
    height: 491px;
    gap: 0px;
    border-radius: 20px;
    top: 1166px;
    left: 545px;
}

.Agent_love {
    position: relative;
    width: 425px;
    height: 60px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #363B3D;
    margin-left: 68px;
}

#chuu {
    margin-left: 68px;
}

.LearnMore_1 {
    position: relative;
    width: 148px;
    height: 56px;
    gap: 0px;
    border-radius: 5px 5px 5px 5px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #FFFFFF;
    border: 1px solid #574D9C;
    box-sizing: border-box;
    padding: 13px 25px 13px 25px;
    color: #574D9C;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: left;
    left: 182px;
    top: 41px;
}

.ngang_4 {
    position: relative;
    gap: 0px;
    opacity: 0px;
    background-color: #B2A9EF;
    margin-left: 61px;
    margin-top: 88px;
    width: 958px;
    height: 1px;
    gap: 0px;
    opacity: 0px;

}

.so {
    display: flex;
    gap: 121px;
    transform: translateY(-190px);
    margin-left: 93px;
}

.chuuu {
    display: flex;
    gap: 239px;
    transform: translateY(120px);
    margin-left: -703px;
    margin-top: -10px;

}

.bay {
    position: relative;
    width: 211px;
    height: 105px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 69px;
    font-weight: 400;
    line-height: 104.04px;
    text-align: left;
    color: #323A5B;
}

.ba {
    position: relative;
    width: 261px;
    height: 105px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 72px;
    font-weight: 400;
    line-height: 104.04px;
    text-align: left;
    color: #323A5B;
}

.nam {
    position: absolute;
    width: 261px;
    height: 105px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 72px;
    font-weight: 400;
    line-height: 104.04px;
    text-align: left;
    color: #323A5B;
    left: 740px;

}

.HomeP {
    position: relative;
    width: fit-content;
    height: 19px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-align: left;
    color: #323A5B;

}

.Agentss {
    position: relative;
    width: 69px;
    height: 19px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-align: left;
    color: #323A5B;
}

.Buying {
    position: relative;
    width: fit-content;
    height: 19px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 2px;
    text-align: left;
    color: #323A5B;
    margin-left: 40px;
}

.footer {
    position: absolute;
    width: 1080px;
    height: 1111px;
    top: 190px;
    left: -93px;
    gap: 0px;
    border-radius: 0px 0px 19px 19px;
    opacity: 0px;
    background-color: #574D9C;
}

.Our {
    position: relative;
    width: 314px;
    height: 65px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 51px;
    font-weight: 400;
    line-height: 64.8px;
    letter-spacing: 0.675000011920929px;
    text-align: center;
    color: #FFFFFF;
    transform: translateX(120%);
    margin-top: 72px;

}

.FF {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 39px;
}

.Turn {
    position: relative;
    width: 351px;
    height: 60px;
    gap: 0px;
    border-radius: 6.8px;
    opacity: 0px;
    background-color: #FFFFFF;
    border: 1px solid #6157AB;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2.319999933242798px;
    text-align: left;
    color: #574D9C;
    box-sizing: border-box;
    padding: 15px 31px 15px 31px;
}

.Buyy {
    position: relative;
    width: 287px;
    height: 60px;
    gap: 0px;
    border-radius: 6.8px;
    border: 1px solid #FFFFFF;
    opacity: 0px;
    background-color: #574D9C;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2.319999933242798px;
    text-align: left;
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 15px 31px 15px 31px;
}

.Save {
    position: relative;
    width: 303px;
    height: 60px;
    gap: 0px;
    border-radius: 6.8px;
    opacity: 0px;
    border: 1px solid #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2.319999933242798px;
    text-align: left;
    color: #FFFFFF;
    padding: 15px 31px 15px 31px;
    box-sizing: border-box;
}

.uu {
    position: relative;
    width: 752px;
    height: 643px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin: 88px 164px 144px 164px;

}

.anhh {
    position: relative;
    width: 324px;
    height: 175px;
    gap: 0px;
    opacity: 0px;
    padding: 32px 396px 436px 36px;


}

.black {
    position: relative;
    width: 130px;
    height: 29px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 2px;
    text-align: left;
    box-sizing: border-box;
    padding: 4px 15px 8px 18px;
    background-color: #333333;
    color: #ECEAF8;
    top: -469px;
    left: 230px;


}

.Circle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    opacity: 0px;
    background-color: #7569CF;
    padding: 12px 13px 11px 13px;
    box-sizing: border-box;
    top: -635px;
    left: 45px;

}

.tru {
    display: flex;
    gap: 7px;
    box-sizing: border-box;
    margin-top: -480px;
    margin-left: 30px;



}

.ngang_5 {
    width: 80px;
    height: 1px;
    box-sizing: border-box;
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #C7C1F3;
}

.Homee {

    width: 111px;
    height: 30px;
    top: 3695px;
    left: 366px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.100000023841858px;
    text-align: left;
    color: #363B3D;

}

.shield {
    position: relative;
    width: 84px;
    height: 67px;
    gap: 0px;
    opacity: 0px;
    padding-left: 236px;
    padding-top: 40px;

}

.ngang_6 {
    position: relative;
    width: 295px;
    height: 1px;
    gap: 0px;
    opacity: 0px;
    background-color: #C7C1F3;
    margin-top: 24px;
    margin-left: 45px;
    box-sizing: border-box;
}

.thebuy {
    position: relative;
    width: 45px;
    height: 60px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #363B3D;
    display: block;
    box-sizing: border-box;
    margin-left: 56px;
    margin-top: 29px;
}

.wonn {
    position: relative;
    width: 180px;
    height: 44px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #636769;
    box-sizing: border-box;
    white-space: pre-line;
    left: 196px;
    top: -55px;
}

.theseller {
    position: relative;
    width: 43px;
    height: 60px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #363B3D;
    display: block;
    box-sizing: border-box;
    margin-left: 56px;
    margin-top: -2px;
}

.got {
    position: relative;
    width: 180px;
    height: 44px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #636769;
    box-sizing: border-box;
    white-space: pre-line;
    left: 196px;
    top: -61px;
}

.Turnn {
    position: relative;
    width: 266px;
    height: 71px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 0.1599999964237213px;
    text-align: left;
    color: #2B2B2B;
    top: -480px;
    left: 400px;

}

.once {
    position: relative;
    width: 285px;
    height: 90px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #636769;
    box-sizing: border-box;
    top: -423px;
    left: 400px;
}

.learnmore_2 {
    position: relative;
    width: 135px;
    height: 54px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    background-color: #7569CF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 11px 24px 13px 24px;
    top: -357px;
    left: 400px;
}

.ngang_7 {
    position: relative;
    width: 285px;
    height: 1px;
    gap: 0px;
    opacity: 0px;
    background-color: #9AA6AC;
    box-sizing: border-box;
    top: -300px;
    left: 170px;
}

.dt {
    position: relative;
    width: 24px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    top: -290px;
    left: 400px;
}

.read {
    position: relative;
    width: 172px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #6157AB;
    box-sizing: border-box;
    left: 400px;
    top: -300px;
}

.anhhh {
    display: flex;
    gap: 852px;
    box-sizing: border-box;
    transform: translateX(-20%);
    margin-top: -885px;

}

.leftt {
    position: relative;
    width: 94px;
    height: 94px;
    gap: 0px;
    opacity: 0px;

}

.rightt {
    position: relative;
    width: 94px;
    height: 94px;
    gap: 0px;
    opacity: 0px;

}

.tron {
    display: flex;
    gap: 12px;
    transform: translateX(45%);
    margin-top: 600px;
}

.tron_1 {
    position: relative;
    width: 16px;
    height: 16px;
    gap: 0px;
    border-radius: 100px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;

}

.tron_2 {
    position: relative;
    width: 16px;
    height: 16px;
    gap: 0px;
    border-radius: 100px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #FFFFFF
}

.tron_3 {
    position: relative;
    width: 16px;
    height: 16px;
    gap: 0px;
    border-radius: 100px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #FFFFFF
}

.cuoi {
    position: absolute;
    width: 1200px;
    height: 633px;
    gap: 0px;
    opacity: 0px;
    background-color: #050302;
    box-sizing: border-box;
    left: -224px;
    bottom: -1359px;
}

.EVER {
    position: relative;
    width: 405px;
    height: 96px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    color: #363B3D;
    top: 178px;
    left: 133px;

}

.ribonn {
    position: relative;
    width: 391px;
    height: 60px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #363B3D;
    top: 208px;
    left: 140px;
}

.apple {
    position: relative;
    width: 234px;
    height: 64px;
    gap: 0px;
    border-radius: 7px;
    opacity: 0px;
    background-color: #000000;
    box-sizing: border-box;
    padding: 9px 43px 10px 44px;
    top: -145px;
    left: 218px;

}

.phone {
    position: relative;
    width: 450px;
    height: 469px;
    gap: 0px;
    opacity: 0px;
    right: -400px;

}

.gan_cuoi {
    position: relative;
    width: 1200px;
    height: 583px;
    box-sizing: border-box;
    top: 9px;
    margin-right: 0px;
    left: -224px;


}

.ribonnn {
    position: relative;
    width: 120px;
    height: 26px;
    padding: 1.3px 1.24px 1.62px 0px;
    gap: 0px;
    opacity: 0px;
    box-sizing: border-box;
    left: 60px;
    top: 90px;

}

.Nhom_Home .Nhom_Partner .Nhom_Resources .Nhom_About {
    display: flex;
    flex-direction: column;


}

.doc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    height: 400px;
    gap: 72px;
    margin-left: 276px;
    margin-top: 59px;
}

.Agentt {
    position: relative;
    width: 62px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.Buyingg {
    position: relative;
    width: 55px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.Listingg {
    position: relative;
    width: 54px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.ios {
    position: relative;
    width: 67px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.gett {
    position: relative;
    width: 109px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.Homebuyerss {
    position: relative;
    width: 101px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.buyerss {
    width: 55px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.buy_before {
    position: relative;
    width: 155px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.New {
    position: relative;
    width: 150px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.Rescue {
    position: relative;
    width: 164px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.Sellerss {
    position: relative;
    width: 54px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.Partner {
    position: relative;
    width: 76px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 10px;

}

.Lender {
    position: relative;
    width: 65px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;

}

.Builderss {
    width: 65px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;

}

.Brokeragess {
    position: relative;
    width: 94px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;


}

.Re {
    position: relative;
    width: 89px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 10px;

}

.Pr {
    position: relative;
    width: 56px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;

}

.FA {
    position: relative;
    width: 43px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;

}

.Howw {
    position: relative;
    width: 106px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;

}

.Bl {
    position: relative;
    width: 37px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;

}

.Gu {
    position: relative;
    width: 57px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;

}

.We {
    position: relative;
    width: 77px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;

}

.AB {
    position: relative;
    width: 53px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.Miss {
    position: relative;
    width: 60px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.Cul {
    position: relative;
    width: 62px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.Car {
    position: relative;
    width: 65px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.Pre {
    position: relative;
    width: 43px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.Agentt .Homebuyerss .Partner .Re .AB {
    position: relative;
    bottom: -100px;
}

.BBB {
    position: relative;
    width: 202px;
    height: 71px;
    gap: 0px;
    opacity: 0px;
    margin-left: 60px;
    margin-bottom: 110px;
}

.Click {
    position: relative;
    width: 114px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #F5F4F2;
    top: -110px;
    left: 60px;
}

.Termss {
    position: relative;
    width: 45px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
    left: 443px;
    bottom: 210px;
}

.Privacy {
    position: relative;
    width: 51px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
    left: 523px;
    bottom: 241px;

}

.Copyrightt {
    position: relative;
    width: 350px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #E7ECEE;
    left: 443px;
    bottom: 240px;

}

.facebook {
    position: relative;
    width: 21px;
    height: 21px;
    gap: 0px;
    opacity: 0px;
    left: 1000px;
    bottom: 300px;
}

.instagram {
    position: relative;
    width: 21px;
    height: 21px;
    gap: 0px;
    opacity: 0px;
    left: 1020px;
    bottom: 300px;
}